.leftUl li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.leftUl li img {
  width: 24px;
  margin-right: 10px;
}

.leftUl {
  position: absolute;
  padding-left: 20px !important;
  left: -150px;
  top: 0px;
  margin-top: 0px;
  /* vertical-align: top; */
}

.fix-top {
  position: fixed;
  top: 20px;
  left: 55px;
}

@media (max-width: 1024px) {
  .leftUl {
    display: none !important;
  }
}
@media (max-width: 1093px) {
  .leftUl {
    width: 150px !important;
  }
}
